In [1]:
import os
import re
import json
import pandas as pd

In [2]:
odkud = 'downloads/wikidata/autority'

In [3]:
def najdi_letopocet(x):
    try:
        return int(re.search(r"\d{4}",x).group())
    except:
        return None

In [4]:
gendery = {
    'Q6581097':'m',
    'Q6581072':'f',
    'Q2449503':'tm',
    'Q1052281':'tf',
    'Q48270':'nb'
}

In [5]:
len([f for f in os.listdir("downloads/wikidata/autority")])

65233

In [6]:
medailony = []
pocitadlo = 0

for f in [f for f in os.listdir("downloads/wikidata/autority")]:

    pocitadlo += 1
    if pocitadlo % 1000 == 0:
        print(f"{pocitadlo:005}: {f}")
    
    medailon = {}
    with open(os.path.join('downloads/wikidata/autority', f), 'r', encoding='utf-8') as file:
        
        wd = json.loads(file.read())
        q = f[:-5]
        medailon['024_a'] = q

        try:
            medailon['w_narozeni'] = najdi_letopocet(wd['entities'][q]['claims']['P569'][0]['mainsnak']['datavalue']['value']['time'])
        except:
            pass
        try:
            medailon['w_umrti'] = najdi_letopocet(wd['entities'][q]['claims']['P570'][0]['mainsnak']['datavalue']['value']['time'])
        except:
            pass
        try:
            medailon['w_gender'] = wd['entities'][q]['claims']['P21'][0]['mainsnak']['datavalue']['value']['id']
        except:
            pass
        try:
            medailon['obcanstvi'] = [x['mainsnak']['datavalue']['value']['id'] for x in  wd['entities'][q]['claims']['P27']]
        except:
            pass
        try:
            medailon['w_misto_narozeni'] = [x['mainsnak']['datavalue']['value']['id'] for x in  wd['entities'][q]['claims']['P19']]
        except:
            pass
        try:
            medailon['w_misto_umrti'] = [x['mainsnak']['datavalue']['value']['id'] for x in  wd['entities'][q]['claims']['P20']]
        except:
            pass
        try:
            medailon['druh_umrti'] = wd['entities'][q]['claims']['P1196'][0]['mainsnak']['datavalue']['value']['id']
        except:
            pass
        try:
            medailon['pricina_umrti'] = wd['entities'][q]['claims']['P509'][0]['mainsnak']['datavalue']['value']['id']
        except:
            pass      
        try:
            medailon['vezeni'] = [x['mainsnak']['datavalue']['value']['id'] for x in  wd['entities'][q]['claims']['P2632']]
        except:
            pass
        try:
            medailon['profese'] = [x['mainsnak']['datavalue']['value']['id'] for x in  wd['entities'][q]['claims']['P106']]
        except:
            pass
        try:
            medailon['strany'] = [x['mainsnak']['datavalue']['value']['id'] for x in  wd['entities'][q]['claims']['P102']]
        except:
            pass
        try:
            medailon['skoly'] = [x['mainsnak']['datavalue']['value']['id'] for x in  wd['entities'][q]['claims']['P69']]
        except:
            pass
        try:
            medailon['udalosti'] = [x['mainsnak']['datavalue']['value']['id'] for x in  wd['entities'][q]['claims']['P793']]
        except:
            pass
        try:
            medailon['role'] = [x['mainsnak']['datavalue']['value']['id'] for x in  wd['entities'][q]['claims']['P2868']]
        except:
            pass
        try:
            medailon['manzelstvo'] = [x['mainsnak']['datavalue']['value']['id'] for x in  wd['entities'][q]['claims']['P26']]
        except:
            pass
        try:
            medailon['partnerstvo'] = [x['mainsnak']['datavalue']['value']['id'] for x in  wd['entities'][q]['claims']['P451']]
        except:
            pass
        try:
            medailon['sourozenectvo'] = [x['mainsnak']['datavalue']['value']['id'] for x in  wd['entities'][q]['claims']['P3373']]
        except:
            pass
        try:
            medailon['potomstvo'] = [x['mainsnak']['datavalue']['value']['id'] for x in  wd['entities'][q]['claims']['P40']]
        except:
            pass       
        try:
            medailon['jazykove_verze'] = [z.split(".wikipedia")[0].split("//")[1] for z in set(list([x for x in [hodnoty['url'] for popisky, hodnoty in wd['entities'][q]['sitelinks'].items()]])) if "wikipedia" in z]
        except:
            pass
    
    medailony.append(medailon)

01000: Q1037103.json
02000: Q106696265.json
03000: Q10861269.json
04000: Q11109023.json
05000: Q112380728.json
06000: Q112493698.json
07000: Q113767373.json
08000: Q11653452.json
09000: Q11858281.json
10000: Q12021426.json
11000: Q12030693.json
12000: Q120574824.json
13000: Q122054132.json
14000: Q124305260.json
15000: Q125807806.json
16000: Q12800920.json
17000: Q13548342.json
18000: Q148659.json
19000: Q15455446.json
20000: Q15990201.json
21000: Q16574747.json
22000: Q17121742.json
23000: Q18106573.json
24000: Q18957720.json
25000: Q19941956.json
26000: Q20860362.json
27000: Q21522512.json
28000: Q23013656.json
29000: Q2452427.json
30000: Q2640948.json
31000: Q28316788.json
32000: Q2977261.json
33000: Q3144769.json
34000: Q3330518.json
35000: Q358612.json
36000: Q38305022.json
37000: Q41542948.json
38000: Q4309439.json
39000: Q450393.json
40000: Q47453123.json
41000: Q50031012.json
42000: Q52156707.json
43000: Q54609556.json
44000: Q55676614.json
45000: Q56441817.json
46000: Q5758232.json
47000: Q59160386.json
48000: Q598288.json
49000: Q6115396.json
50000: Q62648055.json
51000: Q64868961.json
52000: Q678053.json
53000: Q7155810.json
54000: Q75135735.json
55000: Q7959036.json
56000: Q85415929.json
57000: Q88911897.json
58000: Q91950241.json
59000: Q93431267.json
60000: Q94931946.json
61000: Q95151500.json
62000: Q95213199.json
63000: Q95381667.json
64000: Q95697919.json
65000: Q99151856.json

In [7]:
medailony[5:100]

[{'024_a': 'Q1000985',
  'w_narozeni': 1978,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q213'],
  'w_misto_narozeni': ['Q146342'],
  'profese': ['Q937857'],
  'jazykove_verze': ['de', 'it', 'arz', 'cs', 'en']},
 {'024_a': 'Q100114213',
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q30'],
  'profese': ['Q715301', 'Q109517242', 'Q17098559', 'Q1622272'],
  'skoly': ['Q457281'],
  'jazykove_verze': ['sv']},
 {'024_a': 'Q100138089',
  'w_narozeni': 1970,
  'w_gender': 'Q6581097',
  'profese': ['Q644687',
   'Q109517242',
   'Q17098559',
   'Q3658608',
   'Q5322166',
   'Q19829999',
   'Q1622272'],
  'jazykove_verze': []},
 {'024_a': 'Q100144439',
  'w_narozeni': 1982,
  'w_gender': 'Q6581097',
  'w_misto_narozeni': ['Q511216'],
  'profese': ['Q36180',
   'Q49757',
   'Q12144794',
   'Q1231865',
   'Q82594',
   'Q2070313'],
  'jazykove_verze': ['cs']},
 {'024_a': 'Q100146632',
  'w_narozeni': 1954,
  'w_gender': 'Q6581072',
  'w_misto_narozeni': ['Q3820'],
  'profese': ['Q36180', 'Q42973', 'Q1622272'],
  'jazykove_verze': ['ar', 'en']},
 {'024_a': 'Q1001547',
  'jazykove_verze': ['sh',
   'war',
   'vec',
   'oc',
   'sr',
   'zh-min-nan',
   'ce',
   'it',
   'en',
   'pt',
   'tt',
   'uk',
   'la',
   'fi',
   'ceb',
   'eo',
   'vi',
   'bug',
   'pl',
   'fy',
   'de',
   'diq',
   'sk',
   'uz',
   'ca',
   'ro',
   'hu',
   'sv',
   'lld',
   'kk',
   'nl',
   'pms',
   'ms',
   'eu',
   'zh',
   'fr',
   'el',
   'es']},
 {'024_a': 'Q100154933',
  'w_narozeni': 1944,
  'w_gender': 'Q6581097',
  'profese': ['Q60244908', 'Q1622272'],
  'jazykove_verze': []},
 {'024_a': 'Q1001591',
  'jazykove_verze': ['br',
   'pms',
   'pt',
   'ce',
   'bm',
   'es',
   'pl',
   'zh-min-nan',
   'nl',
   'sr',
   'sk',
   'tt',
   'vo',
   'ro',
   'simple',
   'eu',
   'sv',
   'war',
   'vi',
   'it',
   'en',
   'oc',
   'ku',
   'ceb',
   'nrm',
   'uk',
   'ca',
   'cy',
   'eo',
   'lld',
   'diq',
   'ms',
   'vec',
   'mg',
   'ur',
   'sh',
   'la',
   'sl',
   'de',
   'zh',
   'hu',
   'fr',
   'ast']},
 {'024_a': 'Q100163576',
  'w_narozeni': 1951,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q212'],
  'w_misto_narozeni': ['Q36036'],
  'profese': ['Q201788', 'Q1595570', 'Q36180'],
  'skoly': ['Q1817355'],
  'jazykove_verze': ['uk']},
 {'024_a': 'Q1001716',
  'w_narozeni': 1703,
  'w_umrti': 1787,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q153136'],
  'w_misto_narozeni': ['Q1741'],
  'w_misto_umrti': ['Q1741'],
  'profese': ['Q250867', 'Q201788', 'Q432386', 'Q37226'],
  'jazykove_verze': ['hu']},
 {'024_a': 'Q100200',
  'w_narozeni': 1936,
  'w_umrti': 2023,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q183', 'Q16957'],
  'w_misto_narozeni': ['Q50960'],
  'profese': ['Q82955', 'Q1234713'],
  'strany': ['Q49762'],
  'jazykove_verze': ['arz', 'pl', 'de', 'en']},
 {'024_a': 'Q100233',
  'w_narozeni': 1963,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q183'],
  'w_misto_narozeni': ['Q3758'],
  'profese': ['Q2815948', 'Q1622272'],
  'skoly': ['Q157808'],
  'jazykove_verze': ['de', 'en', 'arz']},
 {'024_a': 'Q100243280'},
 {'024_a': 'Q100267570',
  'w_narozeni': 1854,
  'w_umrti': 1932,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q142'],
  'w_misto_narozeni': ['Q2845753', 'Q90'],
  'w_misto_umrti': ['Q1078086'],
  'profese': ['Q520549', 'Q1734662', 'Q189010'],
  'skoly': ['Q3064332'],
  'jazykove_verze': ['fr']},
 {'024_a': 'Q100267949',
  'w_narozeni': 1939,
  'w_umrti': 2022,
  'w_gender': 'Q6581072',
  'obcanstvi': ['Q142'],
  'w_misto_narozeni': ['Q548924'],
  'w_misto_umrti': ['Q169293'],
  'profese': ['Q36180'],
  'jazykove_verze': ['fr']},
 {'024_a': 'Q100269537',
  'w_narozeni': 1979,
  'w_gender': 'Q6581072',
  'profese': ['Q201788', 'Q1864603', 'Q1493121', 'Q1622272', 'Q1650915'],
  'skoly': ['Q1878600', 'Q999763', 'Q1394262', 'Q1430113', 'Q1394262'],
  'jazykove_verze': []},
 {'024_a': 'Q100272216',
  'w_narozeni': 1965,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q15180', 'Q184'],
  'w_misto_narozeni': ['Q21659780'],
  'profese': ['Q901', 'Q1622272', 'Q201788'],
  'skoly': ['Q2630637'],
  'jazykove_verze': ['be']},
 {'024_a': 'Q100273554',
  'w_narozeni': 1976,
  'w_gender': 'Q6581097',
  'profese': ['Q185351', 'Q1622272', 'Q40348'],
  'jazykove_verze': ['de']},
 {'024_a': 'Q1002810',
  'w_narozeni': 1898,
  'w_umrti': 1967,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q33946'],
  'w_misto_narozeni': ['Q190522', 'Q855069'],
  'w_misto_umrti': ['Q146342'],
  'profese': ['Q49757', 'Q1930187', 'Q36180'],
  'jazykove_verze': ['fr', 'hu']},
 {'024_a': 'Q100282',
  'w_narozeni': 1757,
  'w_umrti': 1837,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q164079'],
  'w_misto_narozeni': ['Q177362'],
  'w_misto_umrti': ['Q1055'],
  'profese': ['Q13582652', 'Q901', 'Q36180', 'Q978044'],
  'jazykove_verze': ['de', 'en', 'fr', 'sv', 'arz']},
 {'024_a': 'Q100296521',
  'w_gender': 'Q6581097',
  'profese': ['Q1650915'],
  'skoly': ['Q219563', 'Q230492'],
  'jazykove_verze': []},
 {'024_a': 'Q100301646',
  'profese': ['Q1622272', 'Q186360'],
  'jazykove_verze': []},
 {'024_a': 'Q100302130',
  'w_gender': 'Q6581097',
  'profese': ['Q17345122', 'Q774306', 'Q1622272'],
  'jazykove_verze': []},
 {'024_a': 'Q100302588',
  'w_gender': 'Q6581072',
  'profese': ['Q28569455', 'Q1622272'],
  'skoly': ['Q681025'],
  'jazykove_verze': []},
 {'024_a': 'Q100302980',
  'w_narozeni': 1942,
  'w_gender': 'Q6581097',
  'profese': ['Q28837', 'Q1622272'],
  'jazykove_verze': []},
 {'024_a': 'Q100303696'},
 {'024_a': 'Q100304023',
  'w_narozeni': 1947,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q30'],
  'w_misto_narozeni': ['Q647127'],
  'profese': ['Q36834', 'Q713200', 'Q16145150', 'Q639669', 'Q486748'],
  'jazykove_verze': ['fr']},
 {'024_a': 'Q100308989',
  'w_narozeni': 1941,
  'w_gender': 'Q6581097',
  'w_misto_narozeni': ['Q100'],
  'profese': ['Q12765408', 'Q901'],
  'skoly': ['Q9008737'],
  'jazykove_verze': []},
 {'024_a': 'Q100312952',
  'w_gender': 'Q6581072',
  'profese': ['Q593644', 'Q901'],
  'skoly': ['Q1291752'],
  'jazykove_verze': []},
 {'024_a': 'Q100314247',
  'w_gender': 'Q6581097',
  'profese': ['Q1622272'],
  'skoly': ['Q5316093'],
  'jazykove_verze': []},
 {'024_a': 'Q100318248',
  'w_gender': 'Q6581097',
  'profese': ['Q2374149', 'Q1622272', 'Q901'],
  'skoly': ['Q196544'],
  'jazykove_verze': []},
 {'024_a': 'Q100319915',
  'w_narozeni': 1992,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q30'],
  'w_misto_narozeni': ['Q99'],
  'profese': ['Q36180', 'Q201788'],
  'skoly': ['Q14711406', 'Q13371'],
  'jazykove_verze': ['en']},
 {'024_a': 'Q100324298',
  'w_narozeni': 1990,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q419'],
  'w_misto_narozeni': ['Q27194667'],
  'profese': ['Q82594', 'Q1622272', 'Q1650915'],
  'skoly': ['Q6156603', 'Q308963', 'Q2303432', 'Q875788'],
  'sourozenectvo': ['Q115660783', 'Q115660896', 'Q115660799'],
  'jazykove_verze': []},
 {'024_a': 'Q100327408',
  'w_narozeni': 1897,
  'w_umrti': 1959,
  'w_gender': 'Q6581072',
  'obcanstvi': ['Q36'],
  'w_misto_narozeni': ['Q1973720'],
  'w_misto_umrti': ['Q31487'],
  'profese': ['Q520549', 'Q1622272'],
  'skoly': ['Q80207'],
  'jazykove_verze': ['pl']},
 {'024_a': 'Q100348318',
  'w_narozeni': 1885,
  'w_umrti': 1941,
  'w_gender': 'Q6581097',
  'w_misto_narozeni': ['Q384544'],
  'w_misto_umrti': ['Q1530'],
  'profese': ['Q39631', 'Q1919436', 'Q1622272'],
  'manzelstvo': ['Q113389335'],
  'jazykove_verze': []},
 {'024_a': 'Q100348525',
  'w_narozeni': 1973,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q38'],
  'w_misto_narozeni': ['Q116440'],
  'profese': ['Q1622272', 'Q13418253'],
  'jazykove_verze': []},
 {'024_a': 'Q1003501',
  'w_narozeni': 1949,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q28'],
  'w_misto_narozeni': ['Q1781'],
  'profese': ['Q170790'],
  'skoly': ['Q390287', 'Q369839'],
  'jazykove_verze': ['hu', 'ar', 'eo', 'en', 'pt', 'de', 'arz']},
 {'024_a': 'Q100353158',
  'w_gender': 'Q6581097',
  'profese': ['Q202883', 'Q12119633', 'Q1622272'],
  'skoly': ['Q838330'],
  'jazykove_verze': []},
 {'024_a': 'Q100356218',
  'w_narozeni': 1973,
  'w_gender': 'Q6581072',
  'obcanstvi': ['Q27'],
  'w_misto_narozeni': ['Q10686'],
  'profese': ['Q674426', 'Q1792450'],
  'skoly': ['Q734266', 'Q734266', 'Q34433'],
  'jazykove_verze': ['en']},
 {'024_a': 'Q100356308',
  'w_narozeni': 1941,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q30'],
  'w_misto_narozeni': ['Q959512'],
  'profese': ['Q1622272', 'Q901402'],
  'skoly': ['Q5680304', 'Q52413', 'Q1783608'],
  'jazykove_verze': []},
 {'024_a': 'Q100358334',
  'w_narozeni': 1886,
  'w_umrti': 1953,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q33946'],
  'w_misto_narozeni': ['Q43453'],
  'w_misto_umrti': ['Q1085'],
  'jazykove_verze': []},
 {'024_a': 'Q1003615',
  'w_narozeni': 1902,
  'w_umrti': 1967,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q183'],
  'w_misto_narozeni': ['Q581478'],
  'w_misto_umrti': ['Q3874'],
  'profese': ['Q1622272', 'Q36180', 'Q13418253', 'Q14467526', 'Q12347522'],
  'strany': ['Q7320'],
  'skoly': ['Q102398072', 'Q102398197', 'Q102398119'],
  'jazykove_verze': ['de', 'hu']},
 {'024_a': 'Q100375832',
  'w_narozeni': 1952,
  'w_umrti': 2020,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q183'],
  'w_misto_narozeni': ['Q24879'],
  'profese': ['Q333634', 'Q2599593'],
  'jazykove_verze': ['de']},
 {'024_a': 'Q100378',
  'w_narozeni': 1493,
  'w_umrti': 1579,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q183'],
  'w_misto_narozeni': ['Q746395'],
  'w_misto_umrti': ['Q389412'],
  'profese': ['Q36834', 'Q955464', 'Q36180', 'Q96236305'],
  'jazykove_verze': ['no', 'de', 'pl', 'cs']},
 {'024_a': 'Q100383505',
  'w_narozeni': 1934,
  'w_umrti': 1996,
  'w_gender': 'Q6581072',
  'profese': ['Q2599593', 'Q19513109', 'Q1622272'],
  'jazykove_verze': []},
 {'024_a': 'Q100383608',
  'w_narozeni': 1902,
  'w_umrti': 1978,
  'w_gender': 'Q6581097',
  'w_misto_narozeni': ['Q247868'],
  'profese': ['Q212980'],
  'jazykove_verze': ['de']},
 {'024_a': 'Q100383628',
  'w_narozeni': 1914,
  'w_umrti': 2000,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q16957'],
  'w_misto_narozeni': ['Q518889'],
  'profese': ['Q2306091'],
  'strany': ['Q7320'],
  'jazykove_verze': ['de']},
 {'024_a': 'Q100384019',
  'w_narozeni': 1925,
  'w_umrti': 1990,
  'w_gender': 'Q6581097',
  'w_misto_narozeni': ['Q523489'],
  'w_misto_umrti': ['Q8385'],
  'profese': ['Q1281618'],
  'skoly': ['Q414009'],
  'jazykove_verze': ['cs']},
 {'024_a': 'Q1003886',
  'jazykove_verze': ['eu',
   'ro',
   'war',
   'it',
   'fr',
   'eo',
   'pl',
   'es',
   'zh-min-nan',
   'cs',
   'pt',
   'rue',
   'en',
   'uk',
   'sr',
   'sk',
   'ms',
   'nl',
   'hu',
   'tt',
   'de',
   'sh',
   'ca',
   'ce']},
 {'024_a': 'Q100394177',
  'profese': ['Q1622272'],
  'skoly': ['Q432637'],
  'jazykove_verze': []},
 {'024_a': 'Q100394621',
  'w_narozeni': 1975,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q36'],
  'profese': ['Q1930187', 'Q193391'],
  'skoly': ['Q144488'],
  'jazykove_verze': ['pl']},
 {'024_a': 'Q100400535',
  'w_narozeni': 1978,
  'w_gender': 'Q6581072',
  'w_misto_narozeni': ['Q406'],
  'profese': ['Q2306091'],
  'skoly': ['Q896267', 'Q969850'],
  'manzelstvo': ['Q100752805'],
  'jazykove_verze': ['en']},
 {'024_a': 'Q100411',
  'w_narozeni': 1932,
  'w_umrti': 2021,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q183'],
  'w_misto_narozeni': ['Q518204'],
  'w_misto_umrti': ['Q3033'],
  'profese': ['Q3621491',
   'Q4773904',
   'Q2374149',
   'Q1622272',
   'Q32518759',
   'Q30059961'],
  'jazykove_verze': ['en', 'de', 'arz']},
 {'024_a': 'Q100415128',
  'w_narozeni': 1934,
  'w_umrti': 2020,
  'w_gender': 'Q6581097',
  'w_misto_narozeni': ['Q57782'],
  'w_misto_umrti': ['Q2079'],
  'profese': ['Q12013238', 'Q39631', 'Q1622272'],
  'manzelstvo': ['Q106169513'],
  'potomstvo': ['Q106166221'],
  'jazykove_verze': []},
 {'024_a': 'Q1004158',
  'w_narozeni': 1799,
  'w_umrti': 1875,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q142'],
  'w_misto_narozeni': ['Q42810'],
  'w_misto_umrti': ['Q245546', 'Q90'],
  'profese': ['Q2251335', 'Q36180', 'Q13418253', 'Q14467526', 'Q1622272'],
  'udalosti': ['Q201676'],
  'jazykove_verze': ['hu', 'da', 'ru', 'sv', 'fr', 'en']},
 {'024_a': 'Q100416283',
  'w_narozeni': 1865,
  'w_umrti': 1933,
  'w_gender': 'Q6581072',
  'obcanstvi': ['Q33946'],
  'w_misto_narozeni': ['Q1756960'],
  'w_misto_umrti': ['Q1381784'],
  'profese': ['Q36180'],
  'manzelstvo': ['Q94933498'],
  'potomstvo': ['Q94919745'],
  'jazykove_verze': []},
 {'024_a': 'Q1004275',
  'w_narozeni': 1748,
  'w_umrti': 1805,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q28'],
  'w_misto_narozeni': ['Q25409'],
  'w_misto_umrti': ['Q304304'],
  'profese': ['Q39631', 'Q897317', 'Q21771805', 'Q36180', 'Q901402', 'Q18805'],
  'skoly': ['Q368998'],
  'jazykove_verze': ['sk', 'hu']},
 {'024_a': 'Q100450',
  'w_narozeni': 1430,
  'w_umrti': 1498,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q183'],
  'w_misto_narozeni': ['Q82741'],
  'profese': ['Q36180', 'Q432386'],
  'jazykove_verze': ['fr', 'de']},
 {'024_a': 'Q1004517',
  'w_narozeni': 1769,
  'w_umrti': 1826,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q28'],
  'profese': ['Q96236305',
   'Q28319434',
   'Q21591523',
   'Q37226',
   'Q333634',
   'Q49757'],
  'jazykove_verze': ['hu']},
 {'024_a': 'Q100454750',
  'w_gender': 'Q6581072',
  'obcanstvi': ['Q17'],
  'profese': ['Q191633', 'Q11892507', 'Q17098559'],
  'jazykove_verze': ['zh', 'ja', 'en']},
 {'024_a': 'Q100457406',
  'profese': ['Q1650915'],
  'skoly': ['Q108122', 'Q1047293', 'Q168756'],
  'jazykove_verze': []},
 {'024_a': 'Q100457421',
  'profese': ['Q1930187', 'Q1622272'],
  'jazykove_verze': []},
 {'024_a': 'Q100464967',
  'w_gender': 'Q6581097',
  'profese': ['Q3400985', 'Q1622272', 'Q1919436'],
  'skoly': ['Q4115969'],
  'jazykove_verze': []},
 {'024_a': 'Q100476',
  'w_narozeni': 1916,
  'w_umrti': 1988,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q183'],
  'w_misto_narozeni': ['Q1022'],
  'w_misto_umrti': ['Q1022'],
  'profese': ['Q762707', 'Q1955150'],
  'jazykove_verze': ['en', 'arz', 'de', 'ca']},
 {'024_a': 'Q100484',
  'w_narozeni': 1842,
  'w_umrti': 1915,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q43287'],
  'w_misto_narozeni': ['Q4098'],
  'w_misto_umrti': ['Q2079'],
  'profese': ['Q1743122', 'Q1622272', 'Q98833883'],
  'jazykove_verze': ['sv', 'de', 'ru']},
 {'024_a': 'Q100500074',
  'w_narozeni': 1975,
  'w_gender': 'Q6581097',
  'profese': ['Q2462658', 'Q1622272'],
  'jazykove_verze': []},
 {'024_a': 'Q100510186',
  'w_narozeni': 1898,
  'w_umrti': 1989,
  'w_gender': 'Q6581072',
  'w_misto_narozeni': ['Q659860'],
  'w_misto_umrti': ['Q1741'],
  'profese': ['Q36180'],
  'jazykove_verze': []},
 {'024_a': 'Q100511',
  'w_narozeni': 1924,
  'w_umrti': 2018,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q183'],
  'w_misto_narozeni': ['Q515423'],
  'w_misto_umrti': ['Q1726'],
  'profese': ['Q1792450', 'Q1622272', 'Q1143847'],
  'skoly': ['Q55044'],
  'jazykove_verze': ['arz', 'pl', 'ru', 'fr', 'de', 'en']},
 {'024_a': 'Q100517064',
  'profese': ['Q82594', 'Q1622272'],
  'jazykove_verze': []},
 {'024_a': 'Q100517972',
  'w_gender': 'Q6581072',
  'profese': ['Q1622272'],
  'jazykove_verze': ['en']},
 {'024_a': 'Q100534791',
  'w_narozeni': 1957,
  'w_gender': 'Q6581072',
  'obcanstvi': ['Q30'],
  'profese': ['Q13418253', 'Q1622272', 'Q36180', 'Q49757'],
  'skoly': ['Q49112', 'Q21578'],
  'jazykove_verze': ['en', 'eo']},
 {'024_a': 'Q100549',
  'w_narozeni': 1944,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q183'],
  'w_misto_narozeni': ['Q1707'],
  'profese': ['Q121594', 'Q16271064'],
  'skoly': ['Q156737'],
  'jazykove_verze': ['ru', 'no', 'fr', 'de', 'hu']},
 {'024_a': 'Q100550431',
  'w_gender': 'Q6581097',
  'profese': ['Q1423891', 'Q64711780', 'Q36180', 'Q152002', 'Q432386'],
  'jazykove_verze': []},
 {'024_a': 'Q100556920',
  'w_narozeni': 1953,
  'w_gender': 'Q6581072',
  'w_misto_narozeni': ['Q2833'],
  'profese': ['Q3074722', 'Q36834', 'Q12902372', 'Q1622272'],
  'jazykove_verze': ['de']},
 {'024_a': 'Q100566',
  'w_narozeni': 1630,
  'w_umrti': 1691,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q183'],
  'w_misto_narozeni': ['Q1731'],
  'w_misto_umrti': ['Q1731'],
  'profese': ['Q1340643',
   'Q42973',
   'Q189290',
   'Q289612',
   'Q212238',
   'Q644687'],
  'jazykove_verze': ['nds', 'arz', 'it', 'en', 'de']},
 {'024_a': 'Q100571136',
  'w_narozeni': 1978,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q213'],
  'w_misto_narozeni': ['Q954808'],
  'profese': ['Q593644', 'Q1622272', 'Q901'],
  'jazykove_verze': []},
 {'024_a': 'Q100587978',
  'w_narozeni': 1951,
  'w_gender': 'Q6581072',
  'profese': ['Q1238570', 'Q1622272'],
  'jazykove_verze': []},
 {'024_a': 'Q1005905',
  'jazykove_verze': ['fr',
   'szl',
   'sr',
   'es',
   'ceb',
   'jv',
   'ro',
   'vi',
   'ms',
   'et',
   'be',
   'lv',
   'pl',
   'eo',
   'sk',
   'lt',
   'zh',
   'en',
   'ca',
   'pt',
   'ru',
   'de',
   'nl',
   'uk']},
 {'024_a': 'Q100590830',
  'w_narozeni': 1981,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q36'],
  'profese': ['Q201788', 'Q1622272'],
  'skoly': ['Q189441'],
  'jazykove_verze': ['pl']},
 {'024_a': 'Q100591179',
  'w_narozeni': 1972,
  'w_gender': 'Q6581097',
  'profese': ['Q185351', 'Q16533', 'Q1622272'],
  'jazykove_verze': ['pl']},
 {'024_a': 'Q100591649',
  'w_narozeni': 1964,
  'w_gender': 'Q6581097',
  'w_misto_narozeni': ['Q3661657'],
  'profese': ['Q105200214'],
  'skoly': ['Q1416331'],
  'jazykove_verze': ['pl']},
 {'024_a': 'Q100591854',
  'w_narozeni': 1954,
  'w_gender': 'Q6581072',
  'skoly': ['Q189441'],
  'jazykove_verze': ['pl']},
 {'024_a': 'Q100591882',
  'w_narozeni': 1958,
  'w_gender': 'Q6581072',
  'obcanstvi': ['Q36'],
  'w_misto_narozeni': ['Q1913327'],
  'profese': ['Q1622272', 'Q201788', 'Q10379007', 'Q4263842', 'Q333634'],
  'jazykove_verze': ['pl']},
 {'024_a': 'Q100591883',
  'w_narozeni': 1947,
  'w_gender': 'Q6581097',
  'profese': ['Q901402', 'Q1622272'],
  'manzelstvo': ['Q100591868'],
  'jazykove_verze': ['pl']},
 {'024_a': 'Q100592001',
  'w_narozeni': 1986,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q36'],
  'w_misto_narozeni': ['Q104712'],
  'profese': ['Q185351', 'Q599151', 'Q1622272', 'Q462390'],
  'strany': ['Q156874'],
  'skoly': ['Q11710597', 'Q144488'],
  'jazykove_verze': ['pl', 'de']},
 {'024_a': 'Q100594807',
  'w_narozeni': 1979,
  'w_gender': 'Q6581072',
  'obcanstvi': ['Q28'],
  'w_misto_narozeni': ['Q168648'],
  'profese': ['Q15980158', 'Q33231'],
  'jazykove_verze': ['de', 'cs', 'eu']},
 {'024_a': 'Q100597757',
  'w_narozeni': 1928,
  'w_gender': 'Q6581097',
  'profese': ['Q4964182', 'Q1622272'],
  'jazykove_verze': []},
 {'024_a': 'Q100600840',
  'w_narozeni': 1939,
  'w_umrti': 2020,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q41'],
  'w_misto_narozeni': ['Q193409', 'Q3579'],
  'profese': ['Q1792450', 'Q1622272', 'Q3621491', 'Q4164507'],
  'skoly': ['Q547867'],
  'jazykove_verze': []},
 {'024_a': 'Q100604634',
  'w_narozeni': 1943,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q16957'],
  'profese': ['Q13418253', 'Q1622272', 'Q14467526', 'Q16308156', 'Q2504617'],
  'jazykove_verze': ['de']},
 {'024_a': 'Q100605454',
  'w_gender': 'Q6581072',
  'profese': ['Q1650915', 'Q1622272', 'Q1238570'],
  'jazykove_verze': []},
 {'024_a': 'Q100605675', 'jazykove_verze': []},
 {'024_a': 'Q100605773',
  'w_narozeni': 1985,
  'w_gender': 'Q6581097',
  'profese': ['Q36180'],
  'jazykove_verze': ['uk']},
 {'024_a': 'Q100606462',
  'w_narozeni': 1940,
  'w_gender': 'Q6581097',
  'jazykove_verze': []},
 {'024_a': 'Q100644752',
  'w_narozeni': 1815,
  'w_umrti': 1883,
  'w_gender': 'Q6581097',
  'obcanstvi': ['Q142'],
  'w_misto_narozeni': ['Q660118'],
  'profese': ['Q1622272', 'Q170790'],
  'skoly': ['Q578023'],
  'jazykove_verze': []},
 {'024_a': 'Q100647833',
  'w_gender': 'Q6581097',
  'profese': ['Q774306', 'Q901'],
  'jazykove_verze': []}]

In [8]:
df = pd.read_json(os.path.join("data_raw","autority_wikidataids.json")).reset_index(drop=False)

In [9]:
df

            index       024_a
0      jk01010005    Q1063371
1      jk01010022   Q12028104
2      jk01010023     Q640512
3      jk01010026   Q12055885
4      jk01010030     Q634048
...           ...         ...
65329   xx0217911  Q120602559
65330   xx0222918   Q67908326
65331   xx0226014   Q77860856
65332   xx0232981  Q120605857
65333   xx0241929    Q6455129

[65334 rows x 2 columns]

In [10]:
df = df.merge(pd.DataFrame(medailony), on='024_a').set_index('index')

In [39]:
df.sample(20)

,024_a,w_narozeni,w_umrti,w_gender,obcanstvi,w_misto_narozeni,w_misto_umrti,profese,jazykove_verze,skoly,manzelstvo,sourozenectvo,strany,potomstvo,udalosti,druh_umrti,role,pricina_umrti,partnerstvo,vezeni
index,,,,,,,,,,,,,,,,,,,,
jo20221167171,Q3776248,1893.0,1986.0,Q6581097,"[Q27, Q31747]",[Q1265808],NaN,"[Q1930187, Q82955, Q36180, Q11499147]","[es, en, fr, ca, arz, ga, de, br]",[Q7595066],NaN,NaN,"[Q76382, Q1711514, Q3427478]",NaN,NaN,NaN,NaN,NaN,NaN,NaN
ola20241228359,Q7810491,1970.0,NaN,Q6581072,[Q30],[Q43196],NaN,[Q201788],"[ru, en, arz]","[Q13371, Q238101, Q621043]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xx0310724,Q121689,1799.0,1880.0,Q6581097,[Q39],[Q68250],[Q64],"[Q1028181, Q11569986, Q1925963]","[arz, en, ar, de]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mub20231184006,Q75681522,1967.0,NaN,Q6581097,NaN,[Q61],NaN,"[Q20751891, Q9379869, Q41583, Q11124885]","[ar, en]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jk01021716,Q10854198,1926.0,NaN,Q6581097,[Q33946],[Q1085],NaN,"[Q82955, Q1231865, Q188094]",[cs],NaN,NaN,NaN,[Q727724],NaN,NaN,NaN,NaN,NaN,NaN,NaN
uk20211115570,Q963030,1919.0,2005.0,Q6581097,"[Q145, Q174193]",[Q610238],NaN,"[Q170790, Q1622272]","[de, en, ht, ru]","[Q245247, Q170027]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jk01052982,Q562924,1871.0,1951.0,Q6581097,"[Q28513, Q33946]","[Q1085, Q942842]",[Q1085],"[Q36180, Q49757, Q4263842, Q214917, Q3243461, ...","[en, arz, sk, es, de, it, sv, pl, cs, ru, sr]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ola20221136688,Q94639432,1942.0,NaN,Q6581072,NaN,NaN,NaN,"[Q212980, Q9379869]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vse2017970173,Q59503643,1978.0,NaN,Q6581097,NaN,NaN,NaN,"[Q1238570, Q1622272, Q901]",[],[Q156598],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jk01071948,Q12042408,1927.0,1997.0,Q6581097,"[Q213, Q33946]",[Q147607],[Q1085],"[Q1622272, Q13418253]",[cs],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ntk20221169415,Q55238095,1588.0,1663.0,Q6581097,NaN,[Q1047457],[Q1085],"[Q47064, Q212238, Q189290, Q102083]",[],NaN,[Q110371363],NaN,NaN,"[Q56543468, Q117199885, Q108927150]",NaN,NaN,NaN,NaN,NaN,NaN
zmp20211111477,Q303765,1802.0,1875.0,Q6581097,[Q142],[Q501798],[Q1794],"[Q13570226, Q133485, Q36180, Q10429346]","[en, it, arz, he, ru, de, fr]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ntk20231193127,Q28042803,1904.0,1980.0,Q6581097,"[Q183, Q16957]",[Q1988463],[Q1731],"[Q1327130, Q1622272, Q1327627, Q1326886, Q723682]",[de],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jn20030812008,Q7937843,1949.0,NaN,Q6581072,[Q30],NaN,NaN,"[Q1238570, Q96694579]","[en, de]","[Q131252, Q995265, Q15142]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jo20010081764,Q95167231,1953.0,NaN,Q6581097,NaN,[Q1085],NaN,"[Q188094, Q212980]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mzk20211105965,Q41573953,1898.0,1964.0,Q6581097,"[Q34266, Q15180]",[Q891],[Q649],"[Q901, Q2447386, Q25543366]",[ru],[Q400422],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ctu2012697328,Q6256372,1937.0,NaN,Q6581097,[Q34],[Q3240427],NaN,"[Q1622272, Q1326886, Q81096]","[en, sv]","[Q836805, Q185246]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pna2013797299,Q120591308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
skuk0003324,Q2590142,1925.0,2023.0,Q6581097,[Q183],[Q2090],NaN,"[Q169470, Q1622272]","[ar, en, de]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ntk20231185137,Q60056551,NaN,NaN,Q6581097,NaN,NaN,NaN,"[Q121594, Q188094, Q1622272]",[],[Q49114],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df[df.index == 'Q93240837']

Empty DataFrame
Columns: [024_a, w_narozeni, w_umrti, w_gender, obcanstvi, w_misto_narozeni, w_misto_umrti, profese, jazykove_verze, skoly, manzelstvo, sourozenectvo, strany, potomstvo, udalosti, druh_umrti, role, pricina_umrti, partnerstvo, vezeni]
Index: []

In [13]:
df[df['024_a'] == 'Q571203']

,024_a,w_narozeni,w_umrti,w_gender,obcanstvi,w_misto_narozeni,w_misto_umrti,profese,jazykove_verze,skoly,manzelstvo,sourozenectvo,strany,potomstvo,udalosti,druh_umrti,role,pricina_umrti,partnerstvo,vezeni
index,,,,,,,,,,,,,,,,,,,,
jk01100136,Q571203,1892.0,1945.0,Q6581097,"[Q533534, Q33946]",[Q1000091],"[Q105084, Q7342, Q7341]","[Q36180, Q28389, Q1930187, Q69423232, Q876864]","[cs, it, ru, fr, sk, de, eo, fa, uk, en, arz]",[Q12047389],[Q105573892],"[Q105573905, Q105574064]",NaN,NaN,"[Q5883980, Q104055388, Q76358503]",NaN,[Q5883980],NaN,[Q95459535],"[Q7341, Q15111616]"

In [14]:
df[df['024_a'] == 'Q16861736']

Empty DataFrame
Columns: [024_a, w_narozeni, w_umrti, w_gender, obcanstvi, w_misto_narozeni, w_misto_umrti, profese, jazykove_verze, skoly, manzelstvo, sourozenectvo, strany, potomstvo, udalosti, druh_umrti, role, pricina_umrti, partnerstvo, vezeni]
Index: []

In [15]:
df[df.index == 'jx20100301005']

Empty DataFrame
Columns: [024_a, w_narozeni, w_umrti, w_gender, obcanstvi, w_misto_narozeni, w_misto_umrti, profese, jazykove_verze, skoly, manzelstvo, sourozenectvo, strany, potomstvo, udalosti, druh_umrti, role, pricina_umrti, partnerstvo, vezeni]
Index: []

In [43]:
df['w_gender'] = df['w_gender'].replace(gendery)

In [45]:
df.sample(10)

,024_a,w_narozeni,w_umrti,w_gender,obcanstvi,w_misto_narozeni,w_misto_umrti,profese,jazykove_verze,skoly,manzelstvo,sourozenectvo,strany,potomstvo,udalosti,druh_umrti,role,pricina_umrti,partnerstvo,vezeni
index,,,,,,,,,,,,,,,,,,,,
ntk20211126592,Q84573765,NaN,NaN,m,NaN,NaN,NaN,"[Q593644, Q1622272]",[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xx0257870,Q59531622,1962.0,2018.0,f,[Q183],NaN,NaN,"[Q2504617, Q1622272, Q17167049, Q11499929]",[de],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jk01050603,Q51566504,1921.0,2005.0,f,NaN,[Q1000101],[Q1632450],"[Q1028181, Q644687, Q1925963]",[],[Q414309],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jn20011210048,Q43293459,1963.0,NaN,m,[Q41],NaN,NaN,"[Q7888586, Q1622272, Q593644, Q169470]",[],[Q161562],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hka2015861108,Q825521,1884.0,1974.0,m,[Q183],[Q200549],[Q3869],"[Q188094, Q1622272, Q201788, Q3621491, Q162676...","[pl, de]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mzk2004236741,Q3497944,1946.0,2018.0,f,[Q213],[Q470445],[Q813905],"[Q82955, Q2919046, Q105186, Q1622272]","[pl, arz, fi, ro, cs, en, fr]",[Q31392],NaN,NaN,[Q828099],NaN,NaN,NaN,NaN,NaN,NaN,NaN
xx0152833,Q9145497,1920.0,2017.0,m,[Q36],[Q270],[Q270],"[Q4164507, Q1792450, Q4773904, Q12347522]","[pl, simple, arz, en]",NaN,[Q103897289],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mzk20241216351,Q105750106,1971.0,NaN,f,[Q40],[Q1737],NaN,"[Q482980, Q2516852]",[de],[Q165980],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uk20241220873,Q6531976,1887.0,1961.0,m,[Q30],[Q1144357],NaN,[Q2374149],"[en, ar, arz]","[Q131252, Q193727, Q4733529]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jk01033117,Q6873945,1894.0,1963.0,m,[Q33946],[Q158272],[Q1085],"[Q15895020, Q205375, Q1622272]","[pt, en, ru, sr, cs]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.to_json(os.path.join('data_raw','wikidata_raw.json'))

In [17]:
vsechny_hodnoty = df.values

In [18]:
len(vsechny_hodnoty)

65219

In [19]:
vsechny_hodnoty[0:100]

array([['Q1063371', 1877.0, 1960.0, ..., nan, nan, nan],
       ['Q12028104', 1890.0, 1971.0, ..., nan, nan, nan],
       ['Q640512', 1928.0, 2008.0, ..., nan, nan, nan],
       ...,
       ['Q1291620', 1873.0, 1926.0, ..., nan, nan, nan],
       ['Q12025859', 1863.0, 1941.0, ..., nan, nan, nan],
       ['Q12028117', 1872.0, 1937.0, ..., nan, nan, nan]], dtype=object)