In [5]:
import os
import pandas as pd

In [7]:
df = pd.read_parquet(os.path.join("data","aut_vyber.parquet"))

In [11]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 500)

In [13]:
df['100_a']

001
jk01010001           [Abraham, Jiří,]
jk01010002          [Abraham, Josef,]
jk01010003          [Abraham, Pavel,]
jk01010004          [Absolon, Josef,]
jk01010005          [Absolon, Karel,]
                         ...
jo20241238555      [Svoboda, Michal,]
mzk20241238556                   None
mzk20241238557     [Dwyer, Charlotte]
mzk20241238558     [Langdana, Hannah]
jo20241238559     [Jindrová, Milena,]
Name: 100_a, Length: 1209486, dtype: object

In [31]:
obsazenost = {}
for c in df.columns.to_list():
    obsazenost[c] = len(df[df[c].notnull()]) / len(df)
obsazenost = pd.Series(obsazenost)
obsazenost.sort_values()

370_t       0.003790
370_s       0.005469
500_i       0.010861
400_q       0.013812
500_a       0.014530
500_ind1    0.014530
370_b       0.022358
400_i       0.025754
373_a       0.034625
370_f       0.036187
370_a       0.055769
024_2       0.071972
024_a       0.071972
856_u       0.130307
046_g       0.205324
400_d       0.209071
400_ind1    0.253673
400_a       0.253674
374_a       0.298812
375_a       0.312793
377_a       0.342697
372_a       0.351468
046_f       0.503109
100_d       0.541426
370_c       0.548608
100_7       0.777062
100_a       0.777062
678_a       0.787416
leader      1.000000
dtype: float64

In [49]:
df[['400_d','400_i']].dropna().sample(40)

,400_d,400_i
001,,
jo2018983210,"[1590-1660, 1590-1660, 1590-1660, 1590-1660, 1...","[None, None, None, None, Světské jméno:]"
mzk20181007365,"[1977-, 1977-, 1977-]","[Skutečné jméno:, None, None]"
xx0106028,[1969-],[Rodné jméno:]
xx0173180,"[1761-1840, 1761-1840, 1761-1840]","[None, None, Pseudonym:]"
utb20191050879,[1976-],[Rodné jméno:]
jk01110018,[1839-1895],[Pseudonym:]
xx0080918,"[1972-, 1972-]","[Skutečné jméno:, None]"
jn20000602451,[1961-],[Skutečné jméno:]
xx0146750,"[1907-1969, 1907-1969]","[Skutečné jméno:, None]"
jcu2016910380,[1976-],[Rodné jméno:]
xx0243425,[1973-],[Skutečné jméno:]
ola2010573836,[1968-],[Rodné jméno:]
xx0120559,"[1964-, 1964-, 1964-, 1964-, 1964-, 1964-, 196...","[None, Pseudonym:, Pseudonym:, None, Pseudonym..."
jo2016904949,"[1890-1971, 1890-1971, 1890-1971, 1890-1971]","[None, None, Pseudonym:, Pseudonym:]"
xx0192622,"[1865-1956, 1865-1956]","[Rodné jméno:, Jméno získané sňatkem:]"
pna2005261807,[1940-],[Skutečné jméno:]
ola2010593345,"[1689-1761, 1689-1761, 1689-1761, 1689-1761, 1...","[None, None, None, Pseudonym:, Pseudonym:]"
xx0186920,[1988-],[Rodné jméno:]
jk01102510,[1813-1879],[Pseudonym:]
kup19950000058278,"[1924-1989, 1924-1989]","[None, Skutečné jméno:]"
xx0066114,[1984-],[Skutečné jméno:]
jo20231175300,"[1931-, 1931-, 1931-]","[None, Rodné jméno:, None]"
pna20201078169,"[1978-, 1978-]","[Rodné jméno:, None]"
mzk2012738097,"[1907-1988, 1907-1988, 1907-1988, 1907-1988, 1...","[Skutečné jméno:, None, None, None, None]"
ola2011644554,"[asi 1630-asi 1696, asi 1630-asi 1696, asi 163...","[None, None, None, None, Pseudonym:, Pseudonym..."
js20211133264,[1796-asi 1850],[Rodné jméno:]
js20020408011,"[1953-, 1953-]","[None, Skutečné jméno:]"
xx0091320,"[1504-1558, 1504-1558, 1504-1558, 1504-1558, 1...","[None, None, Pseudonym:, None, None]"
xx0063546,"[1969-, 1969-]","[None, Skutečné jméno:]"
mub2011624661,[1966-],[Rodné jméno:]
jo2015854185,"[1893-1939, 1893-1939, 1893-1939, 1893-1939]","[None, None, Skutečné jméno:, None]"
jo2012702658,"[1875-1963, 1875-1963]","[None, Rodné jméno:]"
mzk20201089631,"[1930-1984, 1930-1984, 1930-1984]","[None, Pseudonym:, None]"
jo2015880086,"[1869-1957, 1869-1957]","[None, Pseudonym:]"
xx0213539,[1980-],[Rodné jméno:]
jo20231190735,[1991-],[Skutečné jméno:]
xx0058577,[1949-1995],[Skutečné jméno:]
jo2014845047,"[1908-1975, 1908-1975]","[None, Skutečné jméno:]"
ola2002113801,"[1957-, 1957-]","[Rodné jméno:, None]"
ola2015855350,[1951-],[Rodné jméno:]

In [23]:
df[df['100_a'].astype(str).str.contains('Macl, Ondřej', na=False)]

,046_f,500_a,100_7,372_a,500_ind1,370_b,400_a,leader,024_a,374_a,100_d,678_a,400_q,370_f,375_a,856_u,500_i,046_g,400_d,370_a,377_a,370_s,400_i,370_c,400_ind1,024_2,100_a,370_t,373_a
001,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
pna2017973707,[1989],"[Rejdiš, Baban,]",[pna2017973707],"[poezie, slam poetry, performance (umění), lit...",[1],None,None,cz a22 n 4500,"[0000000499377720, Q55102163]","[básníci, literární kritici, publicisté, básní...",[1989-],[Narozen 24. 12. 1989 v Hradci Králové. Básník...,None,None,[muž],None,[Pseudonym:],None,None,"[Hradec Králové, Česko]",[cze],None,None,[Česko],None,"[isni, wikidata]","[Macl, Ondřej,]",None,None
aun20231198978,None,None,[aun20231198978],None,None,None,"[Macl, Ondřej,]",nz a22 n 4500,None,None,[1989-],None,None,None,None,None,None,None,[1989-],None,None,None,None,None,[1],None,"[Macl, Ondřej,]",None,None

In [22]:
df[df['100_a'].astype(str).str.contains('Diviš, Ivan', na=False)]

,046_f,500_a,100_7,372_a,500_ind1,370_b,400_a,leader,024_a,374_a,100_d,678_a,400_q,370_f,375_a,856_u,500_i,046_g,400_d,370_a,377_a,370_s,400_i,370_c,400_ind1,024_2,100_a,370_t,373_a
001,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
jk01022321,[1924],None,[jk01022321],None,None,None,None,cz a22 n 4500,"[0000000110597830, Q709766]",None,[1924-1999],"[Narozen 18.4.1924 v Praze, zemřel 7.4.1999 v ...",None,None,None,None,None,[1999],None,None,None,None,None,[Česko],None,"[isni, wikidata]","[Diviš, Ivan,]",None,None
jn19981000665,None,None,[jn19981000665],None,None,None,None,nz a22 n 4500,None,None,None,[Autor vysokoškolských script z oboru zeměděls...,None,None,None,None,None,None,None,None,None,None,None,[Česko],None,None,"[Diviš, Ivan]",None,None
aun2008462799,None,None,[aun2008462799],None,None,None,None,nz a22 n 4500,None,None,[1924-1999.],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"[Diviš, Ivan,]",None,None
aun2018996756,None,None,[aun2018996756],None,None,None,None,nz a22 n 4500,None,None,[1924-1999.],None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"[Diviš, Ivan,]",None,None

In [21]:
df[df['100_a'].astype(str).str.contains('Biler, Stanislav', na=False)]

,046_f,500_a,100_7,372_a,500_ind1,370_b,400_a,leader,024_a,374_a,100_d,678_a,400_q,370_f,375_a,856_u,500_i,046_g,400_d,370_a,377_a,370_s,400_i,370_c,400_ind1,024_2,100_a,370_t,373_a
001,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
mzk2015855552,[1982],None,[mzk2015855552],[sociologie],None,None,None,cz a22 n 4500,None,"[sociologové, publicisté, spisovatelé]",[1982-],"[Narozen 22. 1. 1982. Sociolog, spisovatel a p...",None,None,[muž],[https://cs.wikipedia.org/wiki/Stanislav_Biler],None,None,None,None,[cze],None,None,[Česko],None,None,"[Biler, Stanislav,]",None,None

In [19]:
df[df['100_a'].astype(str).str.contains('Kašpárek, Michal', na=False)]

,046_f,500_a,100_7,372_a,500_ind1,370_b,400_a,leader,024_a,374_a,100_d,678_a,400_q,370_f,375_a,856_u,500_i,046_g,400_d,370_a,377_a,370_s,400_i,370_c,400_ind1,024_2,100_a,370_t,373_a
001,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
jx20100301005,[1984],None,[jx20100301005],None,None,None,None,cz a22 n 4500,None,None,[1984-],[Narozen 1984 v Brně. Publicista a textař. Aut...,None,None,None,None,None,None,None,None,None,None,None,[Česko],None,None,"[Kašpárek, Michal,]",None,None

In [8]:
df

,046_f,500_a,100_7,372_a,500_ind1,370_b,400_a,leader,024_a,374_a,...,370_a,377_a,370_s,400_i,370_c,400_ind1,024_2,100_a,370_t,373_a
001,,,,,,,,,,,,,,,,,,,,,
jk01010001,[1931],None,[jk01010001],None,None,None,None,nz a22 n 4500,None,None,...,None,None,None,None,[Česko],None,None,"[Abraham, Jiří,]",None,None
jk01010002,[1890],None,[jk01010002],None,None,None,None,nz a22 n 4500,None,None,...,None,None,None,None,[Česko],None,None,"[Abraham, Josef,]",None,None
jk01010003,[1957],None,[jk01010003],None,None,None,None,nz a22 n 4500,None,None,...,None,None,None,None,[Česko],None,None,"[Abraham, Pavel,]",None,None
jk01010004,[1889],None,[jk01010004],None,None,None,None,cz a22 n 4500,None,"[katoličtí kněží, básníci]",...,"[Odrlice, Senice na Hané, Česko]",None,None,None,[Česko],None,None,"[Absolon, Josef,]",None,None
jk01010005,[1877],None,[jk01010005],None,None,None,None,cz a22 n 4500,"[0000000109542912, Q1063371]",None,...,None,None,None,None,[Česko],None,"[isni, wikidata]","[Absolon, Karel,]",None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
jo20241238555,[1977],None,[jo20241238555],"[sportovní žurnalistika, statistika, redakční ...",None,None,None,nz a22 n 4500,None,"[editoři, statistici]",...,None,[cze],None,None,[Česko],None,None,"[Svoboda, Michal,]",None,[Česká tisková kancelář]
mzk20241238556,None,None,None,"[marketing, knižní obchod]",None,None,None,nz a22 n 4500,None,None,...,None,[ger],None,None,[Německo],None,None,None,None,None
mzk20241238557,None,None,[mzk20241238557],"[management, pedagogika, globální výchova, soc...",None,None,None,nz a22 n 4500,[0000000464792158],"[manažerky, pedagožky]",...,None,[eng],None,None,[Velká Británie],None,[isni],"[Dwyer, Charlotte]",None,None
mzk20241238558,None,None,[mzk20241238558],"[projektový management, globální výchova]",None,None,None,nz a22 n 4500,None,[manažerky],...,None,[eng],None,None,[Velká Británie],None,None,"[Langdana, Hannah]",None,None
jo20241238559,[1944],None,[jo20241238559],"[basketbal, sportovní trénink]",None,None,None,nz a22 n 4500,[Q16765307],"[basketbalistky, trenérky]",...,"[Praha, Česko]",None,None,None,[Česko],None,[wikidata],"[Jindrová, Milena,]",None,None